<div class="row">

		
  <!-- === INÍCIO CABEÇALHO === -->
  <header class="cabecalho">

    <!-- === LOGO === -->
    <img src="../../assets/img/logo.png" class="logo">

    <div class="texto">
      <h1>Super Açaí</h1>
      <p>O melhor açaí de BH e região</p>
    </div>

    <!-- === MENU DE NAVEGAÇÃO === -->
    <div class="links_laterais">
      <div align="right" style="color: white; margin-right: 15px;">
        <a href="" class="login">
        </a>
      </div>
      <nav class="menu">
      <a href="">Produtos</a>
      <a href="">Unidades</a>
      <a href="">Contato</a>
    </nav>
    </div>

  </header>

  <!-- === FIM CABEÇALHO === -->
  