<footer class="rodape" style="margin-bottom: 0;">

  <!-- === LOGO === -->
  <div class="texto">
    <h3>Nos siga nas redes sociais</h3>
    <div class="unidades_rodape">
      <a href="https://www.instagram.com" class="link_rodape"><p>Instagram: super_acai</p></a>
    </div>

    <div class="unidades_rodape">
      <a href="https://www.facebook.com" class="link_rodape"><p>Facebook: Super Açaí</p></a>
    </div>

    <div class="unidades_rodape">
      <a href="https://www.gmail.com" class="link_rodape"><p>Email: contato.superacai-gmail.com</p></a>
    </div>
  </div>

  <div class="texto">
    <h3>Algumas de nossas Unidades</h3>
    <div class="unidades_rodape">
      <a href="" class="link_rodape"><p>Rua Afonso de Almeira 715, Santa Glória - (31) 98560-3481</p></a>
      <hr>
    </div>

    <div class="unidades_rodape">
      <a href="" class="link_rodape"><p>Rua Afonso de Almeira 715, Santa Glória - (31) 98560-3481</p></a>
      <hr>
    </div>

    <div class="unidades_rodape">
      <a href="" class="link_rodape"><p>Rua Afonso de Almeira 715, Santa Glória - (31) 98560-3481</p></a>
      <hr>
    </div>
  </div>

  <img src="../../assets/img/logo.png" class="logo">
  <!-- === MENU DE NAVEGAÇÃO === -->

</footer>
